   body{
        display: flex;
        flex-direction: column;
        
        max-width:100%;
        margin: 0px;
        padding: 20px 40px;
        font-family:'Roboto', sans-serif;
    }

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape 

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  {*/
      :root{
          --search-bar-clr: rgb(200, 200, 200);
          --header-back-clr: rgb(230, 230, 230);
          --butt-back-clr: #9356DC;
          --hover-back-clr: #e2cfe7;
          --select-back-clr :#99E2D0;
          --select-txt-clr :#054938;
        }
        .omf__head .omf__head--back {
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 100%;
        }
        .omf__head--back{
            background-color: var(--header-back-clr);
        }
        .omf__logo{
            display:flex;
            flex-direction:row; 
            justify-content: center;
            padding:10px 0px;
            margin-bottom: 20px;
        }
        .omf__head--search{
            background-color : var(--search-bar-clr);
            display:flex;
            flex-direction:row;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 100%;
            height:100px;
        }
        .omf__head--pointeur {
            display:flex; 
            flex-direction:row; 
            justify-content: flex-end;
            align-items: center;
            font-size: 2.4rem;
            width: 200px;
            padding:0px 0px;
            margin:0px;
        }
        input {
            width: 75%;
            font-size: 2.4rem;
            border: none;
            background-color : var(--search-bar-clr);
            padding:0px 20px;
            margin: 0px 20px;
        
        }
        ::placeholder {
            color:#000;
            align-items: center;
            
        }
        .omf__head--text1{
            font-size: 4rem;
            font-weight: bold;
            height:min-content;
            text-align: center;
            margin: 50px 20px 20px 20px;
            padding: 0px 50px;
        }
        .omf__head--text2{
            font-size: 2.5rem;
            text-align: center;
            margin: 20px;
            padding: 0px 20px;
        }
        button{
            font-size: 2.5rem;
            background: linear-gradient(0deg, var(--butt-back-clr),#c94fd4);
            color: #FFF;
            border-radius: 50px;
            width:max-content;
            height:100px;
            margin: 20px 20px 50px 20px;
            padding: 0px 30px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
        }
        .omf__nav{
            display:flex;
            flex-flow:column wrap;
            justify-content:flex-start;
            align-content:flex-start;
            align-items:flex-start;
            width: 100%;
            margin: 100px 0px 100px 0px;
            padding: 0px 20px;
        }
        .omf__nav--fonctionnement{
            font-size: 2.5rem;
        }
        .omf__nav--box{
            display:flex;
            flex-flow:row wrap;
            align-items:baseline;
            width:100%;
            margin: 0px 0px 50px 0px;
        }
        .omf__nav--num {
            position:relative;
            left:30px;
            z-index: 1;
            display:flex; 
            flex-direction:row; 
            justify-content: center;
            align-items: center;
            font-size: 2.1rem;
            width:70px;
            height:70px;
            background-color: var(--butt-back-clr);
            border-radius: 35px;
            color:#FFF;


        }
        .omf__nav--etiq {
            position: relative;
            z-index: -1;
            display:flex; 
            flex-direction:row; 
            justify-content: flex-start;
            align-items: center;
            background-color: var(--header-back-clr);
            width:80%;
            border-radius: 45px;
            padding: 40px 20px;
            height:auto;
            color: grey;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        }
        .omf__nav--box:hover .omf__nav--etiq{
            background-color: var(--hover-back-clr);
        }
        .omf__nav--picto{ 
            display:flex; 
            flex-direction:row; 
            justify-content: center;
            align-items: center;
            font-size: 2.2rem;
            width:60px;
            height:60px;
            margin: 0px 40px 0px 40px;
            color: grey;
        }
        .omf__nav--box:hover .omf__nav--picto{
            color: var(--butt-back-clr);
        }
        .omf__nav--text{
            display:flex; 
            flex-direction:row; 
            justify-content: center;
            align-items: center;
            font-size: 2.2rem;
            color:#000;
        }
        .omf__sect{
            display:flex;
            flex-flow:column wrap;
            justify-content:flex-start;
            align-content:flex-start;
            align-items:flex-start;
            width: 100%;
            margin: 100px 40px 50px 0px;
            background-color: var(--header-back-clr);
        }
        
        .omf__sect--restaurants{
            font-size: 2.5rem;
            padding: 0px 0px 0px 40px;
        }
        .omf__sect--restos{
            padding: 0px 40px 40px 40px;
           
        }
        .omf__sect--img{ 
            padding: 0px 0px ;
            
        }
        .omf__sect--nouveau{
            position:relative;
            width: min-content;
            background-color: var(--select-back-clr ) ;
            color : var(--select-txt-clr );
            font-size: 1.8rem;
            font-weight: bold;
            border-radius: 5px;
            padding: 5px 15px 5px 15px;
            z-index: 2;
            top:80px;
            Left: 75%;
        }
        a:link {
            text-decoration: none;
            color:none;
        }
        .omf__img--contain{
            position:relative;
            z-index: 1;
            width:100%;
            height:500px;
            object-fit:cover;
            object-position: 50% 62%;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
        .omf__sect--infos{
            display:flex;
            flex-flow:row wrap;
            justify-content:space-between;
            align-content:flex-start;
            align-items:baseline;
            width: 100%;
            height:200px;
            background-color: #FFF;
            padding: 0px 20px 10px -20px;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
        }
        .omf__sect--description{
            display:flex;
            flex-flow:column wrap;
            justify-content:space-around;
            width: 100%;
            padding: 40px 0px 10px 20px;
        }
        .omf__sect--nom{
            font-size: 3rem;
            font-weight:bold;
        }
        .omf__sect--lieu{
            font-size: 2.5rem;

        }
        .omf__sect--picto{
            display:flex;  
            flex-direction:row ; 
            justify-content: center;
            align-items:center;
            font-size: 3rem;
            width:100px;
            height:100px;
            margin: 0px 20px 0px 0px;
        }
        .omf__sect--picto :hover{
            color: linear-gradient(180deg, var(--butt-back-clr),#c94fd4);
        }


       
        
        /*.omf__head--menu{
            display:flex;
            flex-direction:row;
            width: 100%;
            height: auto;
        }
        .omf__header--return{
            z-index: -2;
        }
        .omf__entete--menu{
            display:flex;
            flex-direction:row;
            width: 100%;
            height: auto;
            justify-content:space-around;
            align-items:center;
        
         }
         .omf__entete--nom{
            width: 100%;
            font-family:'Shrikhand', sans-serif;
        }
        .omf__sect--picto{
            display:flex;
            flex-direction:row;
            width: 100%;
            height: 100px;
            justify-content:space-around;
            align-items:center;
        
        */
    
    