body nav header{
    display:flex;
    flex-direction:column;
    width: 100%;
    font-family:'Roboto', sans-serif;
}
.omf__logo{
    display:flex;
    flex-direction:row; 
}
.omf__img--contain{
    width:100%;
    object-fit:cover;
  
}
.omf__recherche{
    display: flex;
    flex-direction:row;
}
.omf__nav{
    width: 100%;
}
.omf__nav--box {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    width: 100%;
     
    
}